.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.testing{
  margin-left: 400px;
  margin-top: -340px;
}

.testing2{
  margin-left: 800px;
  margin-top: -340px;
  
}

.max{
  width: 100%;
  margin-top: 15px;
}

.maxfund:hover{
  transform: scale(1.2)
}

.maxbtn{
  margin-top: 35px;
  margin-left: 120px;
  padding: 8px;
}

.maxlink{
  text-align:center;
}

.maxtitle{
  text-align:center;
  color:red
}

.contain{
  margin-left:120px
}

.maxfund{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}
body{
  background-image: url(./assets/bg1.jpg);
  background-repeat: no-repeat;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
